@charset "UTF-8";
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");
@import url("https://use.fontawesome.com/releases/v5.6.1/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Crimson+Text:wght@400;600;700&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap");
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  text-decoration: none;
  color: #000;
  background-color: #ff9;
}

/* change colours to suit your needs */
mark {
  font-weight: bold;
  font-style: italic;
  color: #000;
  background-color: #ff9;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  cursor: help;
  border-bottom: 1px dotted;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
  border: 0;
  border-top: 1px solid #ccc;
}

input,
select {
  vertical-align: middle;
}

.btn_area {
  position: relative;
  display: flex;
  overflow: hidden;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 60px;
}
.btn_area .btn {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  transition: 0.3s;
  color: #ffffff;
  border: 1px solid #26429c;
  border-radius: 0;
  outline: none;
  background: #26429c;
}
.btn_area .btn:hover {
  color: #26429c;
  background: #ffffff;
}
.btn_area .btn.square {
  justify-content: center;
  width: 320px;
  max-width: 320px;
  height: 50px;
  margin: 0 auto;
  color: #333333;
  border: 1px solid #333333;
  border-radius: 0;
  background: #ffffff;
}
.btn_area .btn.square::after {
  position: absolute;
  right: 1em;
}
.btn_area .btn_orange {
  background-color: #f8833e;
}
.btn_area .btn_black {
  background-color: #333333;
}

.more-btn {
  display: flex;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  border: 1px solid #333333;
  border-radius: 0;
}
@media (max-width: 440px) {
  .more-btn {
    width: 90%;
  }
}
.more-btn .more {
  font-size: 16px;
  line-height: 2.2;
  position: relative;
  display: block;
  overflow: hidden;
  transition: 0.3s;
  text-align: center;
  border-radius: 0;
}
.more-btn .more:hover {
  font-style: italic;
  cursor: pointer;
  color: #ffffff !important;
}
.more-btn .more:hover a {
  color: #ffffff;
}
.more-btn .more:hover::after {
  left: -10%;
  width: 120%;
}
.more-btn .more::after {
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 50%;
  left: -10%;
  width: 0;
  height: 3px;
  height: 120%;
  content: "";
  transition: 0.3s;
  transform: skewX(15deg);
  background: #333333;
}

.btn-n {
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  position: relative;
  display: block;
  width: 100%;
  max-width: 320px;
  margin: 20px auto;
  padding: 15px;
  text-align: center;
  color: #ffffff;
  border: solid 2px #26429c;
  border-radius: 5px;
  background-color: #26429c;
}
.btn-n span {
  line-height: 1;
  position: absolute;
  top: 13px;
  right: 10px;
  display: block;
}
.btn-n:hover {
  color: #26429c;
  background-color: #eeeeee;
}
.btn-n::after {
  position: absolute;
  right: 10px;
}

a.bg_pink:hover {
  opacity: 0.6;
  background-color: #f183c8;
}

a.bg_green:hover {
  opacity: 0.6;
  background-color: #00ad00;
}

.mail::before {
  font-family: "Font Awesome 5 Free";
  font-size: 1.5em;
  font-weight: 900;
  padding-left: 0.8em;
  content: "\f0e0";
}

.angle::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: 50%;
  right: 15px;
  content: "\f105";
  transform: translateY(-50%);
}

.required::after {
  font-family: "Font Awesome 5 Free";
  font-size: 14px;
  font-weight: 900;
  padding-right: 10px;
  padding-left: 10px;
  content: "必須";
  color: #ffffff;
  border-radius: 5px;
  background-color: #a20000;
}

.tel::before {
  font-family: "Font Awesome 5 Free";
  font-size: 1.5em;
  font-weight: 900;
  content: "\f095";
}

.fax::before {
  font-family: "Font Awesome 5 Free";
  font-size: 1.5em;
  font-weight: 900;
  content: "\f1ac";
}

.pdf::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f1c1";
}

.movie::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f1c8";
}

.info-circle {
  position: relative;
}
.info-circle::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: 5px;
  left: 0;
  content: "\f05a";
}

header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top;
}/*# sourceMappingURL=style.css.map */